@model Occasion




<a class="btn btn-success" asp-action="Dashboard" asp-controller="Home">Dashboard</a>

<a asp-action="LogOut" asp-controller="Home" class="btn btn-danger">Logout</a>

 @if(@ViewBag.User.UserId == @Model.Coordinator.UserId)
        {
          <a asp-route-occasionId="@Model.OccasionId" asp-action="Destroy" asp-controller="Home">Delete</a>
        }
        else
        {
          @if(@Model.Participants.All(a=>a.UserId != @ViewBag.User.UserId))
          {
            <a asp-action="Join" asp-controller="Home" asp-route-occasionId="@Model.OccasionId" asp-route-userId="@ViewBag.User.UserId" asp-route-status="add"class="btn btn-warning" >Join</a>
          }
          @if(@Model.Participants.Any(a=>a.UserId == @ViewBag.User.UserId))
          {
            <a asp-action="Join" asp-controller="Home" asp-route-occasionId="@Model.OccasionId" asp-route-userId="@ViewBag.User.UserId" asp-route-status="remove"class="btn btn-warning" >Leave</a>
          }
        }



<br>

<h1>@Model.Title</h1>
<h3>Event Coordinator: @Model.Coordinator.FirstName @Model.Coordinator.LastName</h3>

<h3>Description: @Model.Description</h3>

<div>
  <h6>Participant List:</h6>
  @if(Model.Participants.Count == 0)
  {
    <p>"No one is comming to the event"</p>
  }
  @foreach(var a in @Model.Participants)
  {
    <p>@a.Participant.FirstName @a.Participant.LastName</p>
  }
</div>